<div style="text-align: center">
    <div style="width: 30%; display: inline-block; vertical-align: top; margin: 0 10%;">
        <form action="" method="post" id="trade_form1" style="display: inline-block; position: relative">
            {% csrf_token %}
            <input type="hidden" name="fangraphs_id" id="fangraphs_id1">
            <h4 style="text-align: center; color: #4CAF50;">Team A</h4>
            <div id="player1" style="margin-bottom: 20px;">
                <input type="text" name="name1" required id="name1" style="width: 100%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;">
                <div style="display: flex; justify-content: space-between;">
                    <label class="fscore_label" id="fscore1"></label>
                    <label class="fscore_label" id="fscore2"></label>
                    <label class="fscore_label" id="fscore3"></label>
                </div>
            </div>
            <input type="submit" value="Send" style="background-color: #4CAF50; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%;">
            <p id="total_score" style="text-align: center; font-size: 20px; color: #4CAF50;"></p>
        </form>
    </div>

    <div style="width: 30%; display: inline-block; vertical-align: top; margin: 0 10%;">
        <form action="" method="post" id="trade_form2" style="display: inline-block; position: relative">
            {% csrf_token %}
            <input type="hidden" name="fangraphs_id" id="fangraphs_id1">
            <h4 style="text-align: center; color: #2196F3;">Team B</h4>
            <div id="player1" style="margin-bottom: 20px;">
                <input type="text" name="name1" required id="name1" style="width: 100%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;">
                <div style="display: flex; justify-content: space-between;">
                    <label class="fscore_label" id="fscore1"></label>
                    <label class="fscore_label" id="fscore2"></label>
                    <label class="fscore_label" id="fscore3"></label>
                </div>
            </div>
            <input type="submit" value="Send" style="background-color: #2196F3; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%;">
            <p id="total_score" style="text-align: center; font-size: 20px; color: #2196F3;"></p>
        </form>
    </div>
</div>

<style>
    .fscore_label {
        width: 25px;
        padding: 10px;
        background-color: #f2f2f2;
        text-align: center;
        border: 1px solid #ddd;
    }
</style>
