{% extends 'base.html' %}
{% load my_tags %}
{% load static %}

{% block title %}{% if bigboard %}Bigboard{% elif object_list.first|get_class_name == "PitchingStatistics"%}Pitching{% else %}Hitting{% endif %} | The Sabermaniac{% endblock %}

{% block content %}
    <div class="cover" style="background: white;"></div>
        <div class="cover" style=" background-image: url('{% static 'images/loading.gif' %}'); background-position: center; background-repeat: no-repeat;"></div>
    </div>
    <style>
        .cover{position: fixed; height: 100%; width: 100%; top:0; left: 0; z-index:9999; }
    </style>
    <div style="padding-top: 50px">
        {% if bigboard %}
            <form action="/bigboard" method="get" style="margin-top: 100px">
                {% if request.GET.proj %}
                    <input type="hidden" value="{{ request.GET.proj }}" name="proj">
                {% endif %}
                {% if request.GET.proj_sys %}
                    <input type="hidden" value="{{ request.GET.proj_sys }}" name="proj_sys">
                {% endif %}
                <ul class="form-list">
                    <li style="width: fit-content; display: inline-block">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hitting Stats
                            </button>
                            <select name="hitting" class="multiselect dropdown-menu" multiple="multiple" aria-labelledby="dropdownMenuButton" style="width: 100px; white-space: normal; height: {{ hitting_fields|length|divide:2|multiply:12 }}px; overflow: hidden">
                                {% for field in hitting_fields %}
                                    {% if field|slice:'1' != 'f' and field != 'id' and field != 'player' and field != 'year' and field != 'is_projection' and field != 'projection_system'%}
                                        <option value="{{ field }}" {% if "f"|add:field in hitting_stats %}selected{% endif %}>{{ field|capfirst }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li style="width: fit-content; display: inline-block">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pitching Stats
                            </button>
                            <select name="pitching" class="multiselect dropdown-menu" multiple="multiple" aria-labelledby="dropdownMenuButton" style="width: 100px; white-space: normal; height: {{ pitching_fields|length|divide:2|multiply:12 }}px; overflow: hidden">
                                {% for field in pitching_fields %}
                                    {% if field|slice:'1' != 'f' and field != 'id' and field != 'player' and field != 'year' and field != 'is_projection' and field != 'projection_system'%}
                                        <option value="{{ field }}" {% if "f"|add:field in pitching_stats %}selected{% endif %}>{{ field|capfirst }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li style="width: fit-content; display: inline-block">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Year
                            </button>
                            <select name="year" class="multiselect dropdown-menu" multiple="multiple" aria-labelledby="dropdownMenuButton" style="white-space: normal; overflow: hidden">
                                {% if request.GET.proj == 'True' %}
                                    {% for year in bigboard_years_proj %}
                                        <option value="{{ year }}" {% if year|slugify in request.GET.year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                {% else %}
                                    {% for year in bigboard_years %}
                                        <option value="{{ year }}" {% if year|slugify in request.GET.year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </li>
                    <li class="text-input" style="width: fit-content; display: inline-block; position: relative">
                        <input required type="text" value="{% if request.GET.min_pa %}{{ request.GET.min_pa }}{% endif %}" class="form-control min_pa" name="min_pa" id="min_pa" style="border-color: #398252; background-color: #c5e8d1">
                        <label for="min_pa">Minimum PA</label>
                    </li>
                    <li class="text-input" style="width: fit-content; display: inline-block; position: relative">
                        <input required type="text" value="{% if request.GET.min_ip %}{{ request.GET.min_ip }}{% endif %}" class="form-control min_pa" name="min_ip" id="min_ip" style="border-color: #398252; background-color: #c5e8d1">
                        <label for="min_ip">Minimum IP</label>
                    </li>
                    <li style="width: fit-content; display: inline-block;">
                        <button type="submit" class="btn btn-success btn-sm" style="line-height: 2">Search</button>
                    </li>
                </ul>
            </form>
        {% else %}
            {% if object_list.first|get_class_name == "PitchingStatistics"%}
            <form action="/stats/pitching" method="get" style="margin-top: 100px">
            {% else %}
            <form action="/stats/hitting" method="get" style="margin-top: 100px">
            {% endif %}
                {% if request.GET.proj %}
                    <input type="hidden" value="{{ request.GET.proj }}" name="proj">
                {% endif %}
                {% if request.GET.proj_sys %}
                    <input type="hidden" value="{{ request.GET.proj_sys }}" name="proj_sys">
                {% endif %}
                <ul class="form-list">
                    <li style="width: fit-content; display: inline-block">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Included Stats
                            </button>
                            <select name="include" class="multiselect dropdown-menu" multiple="multiple" aria-labelledby="dropdownMenuButton" style="width: 100px; white-space: normal; height: {{ field_names|length|divide:2|multiply:12 }}px; overflow: hidden">
                                {% for field in field_names %}
                                    {% if field|slice:'1' != 'f' and field != 'id' and field != 'player' and field != 'year' and field != 'is_projection' and field != 'projection_system'%}
                                        <option value="{{ field }}" {% if field in included_field_names %}selected{% endif %}>{{ field|capfirst }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li style="width: fit-content; display: inline-block">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Year
                            </button>
                            <select name="year" class="multiselect dropdown-menu" multiple="multiple" aria-labelledby="dropdownMenuButton" style="white-space: normal; overflow: hidden">
                                {% if request.GET.proj == 'True' %}
                                    {% for year in bigboard_years_proj %}
                                        <option value="{{ year }}" {% if year|slugify in request.GET.year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                {% else %}
                                    {% for year in bigboard_years %}
                                        <option value="{{ year }}" {% if year|slugify in request.GET.year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </li>
                    <li class="text-input" style="width: fit-content; display: inline-block; position: relative">
                        {% if object_list.first|get_class_name == "PitchingStatistics"%}
                            <input required type="text" value="{% if request.GET.min_ip %}{{ request.GET.min_ip }}{% endif %}" class="form-control min_pa" name="min_ip" id="min_ip" aria-describedby="basic-addon1" style="border-color: #398252; background-color: #c5e8d1">
                            <label for="min_ip">Minimum IP</label>
                        {% else %}
                            <input required type="text" value="{% if request.GET.min_pa %}{{ request.GET.min_pa }}{% endif %}" class="form-control min_pa" name="min_pa" id="min_pa" aria-describedby="basic-addon1" style="border-color: #398252; background-color: #c5e8d1">
                            <label for="min_pa">Minimum PA</label>
                        {% endif %}
                    </li>
                    <li style="width: fit-content; display: inline-block;">
                        <button type="submit" class="btn btn-success btn-sm" style="line-height: 2">Search</button>
                    </li>
                </ul>
            </form>
        {% endif %}
    </div>
    <div style="width: 90%; margin: 0 auto; height: 100vh;">
        <table id="hitting-stats" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    {% for field in included_field_names %}
                        {% if field|slice:'1' == 'f' %}
                            <th scope="col">{{ field }}</th>
                        {% elif field != 'id' and field != 'is_projection'%}
                            <th scope="col">{{ field|capfirst }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for stat in object_list %}
                    <tr>
                        <td></td>
                        {% for field in included_field_names %}
                            <td>{{ stat|get_item:field|default:"-" }}</td>
                            {% comment %}
                            {% if bigboard and stat|get_class_name == 'PitchingStatistics' and field in pitching_stats or stat|get_class_name == 'HittingStatistics' and field in hitting_stats %}
                                <td>{{ stat|get_stat:field }}</td>
                            {% elif not bigboard %}
                                {% if field == 'AVG' or field == 'SLG' or field == 'OBP' or field == 'OPS' %}
                                    {% if stat|get_stat:field <  1 %}
                                        <td>.{{ stat|get_stat:field|floatformat:3|slugify|slice:'1:' }}</td>
                                    {% else %}
                                        <td>{{ stat|get_stat:field|floatformat:3 }}</td>
                                    {% endif %}
                                {% elif field == "K_BB" %}
                                    <td>{{ stat|get_stat:field|floatformat:2 }}</td>
                                {% else %}
                                    <td>{{ stat|get_stat:field }}</td>
                                {% endif %}
                            {% elif field == 'player' or field == 'year' %}
                                <td>{{ stat|get_stat:field }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% endcomment %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        .form-list{list-style: none; display: block; text-align: center; margin-bottom: 2.5em; padding: 0 10% 0 10%}
        .form-list button{margin-top: -5px}
        .multiselect option::before{
            content: '\2610';
            width: 1.3em;
            display: inline-block;
            margin-left: 2px;
        }
        .multiselect option:checked::before{
            content: "\2611";
        }
        .multiselect option{
            display:inline-table;
            width: 50%
        }
        td{white-space: nowrap; text-align: center}
        .nav{position: fixed; width: 100%; top: 0; background: white; z-index: 9}
        table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{background-image: unset}
        .dataTables_wrapper .dataTables_paginate .paginate_button{padding: unset;}
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover{border: none; background: none}
        #hitting-stats_wrapper .col-sm-12{overflow: auto}
        .btn-success{background-color: #398252; border-color: #398252}
        .form-control::placeholder{color: #398252}
        .form-control{color: #398252}
        .min_pa::before{content: 'Minimum PA'}
        input[type=text]:valid + label, input[type=text]:focus + label{top: -22px; opacity: 1}
        .text-input label{position:absolute; top: 5px; left: 5px; opacity: .5}
        input[type=text] ~ label{transition: top 1s, opacity 1s}
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{background: #3ead64 !important; color: #fff !important;}
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover{background: #398252 !important; border-color: #398252 !important;}
    </style>
{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            var ModelName = '{{ object_list.first|get_class_name }}';
            var proj = '{{ request.GET.proj }}';
            if(proj === "True"){
                $('.projections').addClass('active')
            }
            else if({{ bigboard|yesno:"true,false" }}){
                $('.bigboard').addClass('active');
            }
            else if(ModelName === 'PitchingStatistics'){
                $('.pitching').addClass('active');
            }
            else {
                $('.hitting').addClass('active')
            }
            $('option').mousedown(function(e) {
                e.preventDefault();
                $(this).prop('selected', !$(this).prop('selected'));
                return false;
            });
            var index = $('#hitting-stats').find('th:last').index();
            var t = $('#hitting-stats').DataTable({
                dom:
                    "<'row'<'col-sm-1'B><'col-sm-6 text-center'l><'col-sm-5'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons:[
                    {extend: 'csv', text: 'Export'}
                ],
                "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
                "order": [[index, 'desc']],
            });
            t.on( 'order.dt', function () {
                t.column(0, {order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
            $('.cover').hide()
        })
        $(document).on('click', '.dropdown-menu', function (e) {
            e.stopPropagation();
        });
    </script>
{% endblock %}