<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sabermaniac | Trade Analyzer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <form action="/trade-analyzer/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
    <p>{{ fTotal }}</p>
</body>

<script>
    $(function (){
        var availableTags = [
            {% for player in players %}
                { label: '{{ player.name }}', value: '{{ player.fangraphs_id }}'},
            {% endfor %}
        ];
        $("#id_name").autocomplete({
            source: availableTags,
            focus: function (event, ui){
                event.preventDefault();
                $("#id_name").val(ui.item.label);
            },
            select: function (event, ui){
                event.preventDefault();
                $("#id_name").val(ui.item.label);
                $("#id_fangraphs_id").val(ui.item.value);
            }
        });
    });
</script>
</html>