{% extends 'base.html' %}
{% load static %}

{% block title %}Sabermaniac | Trade Analyzer{% endblock %}

{% block head_extras %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="form-container">
        {% for team in teams %}
            <div class="team-container">
                <form action="" method="post" id="{{ team.form_id }}" class="trade-form">
                    <h4 class="team-title">{{ team.name }}</h4>
                    {% csrf_token %}
                    <div class="table-container">
                        <!-- Table Headers -->
                        <div class="table-header">
                            <div class="table-cell">Player</div>
                            <div class="table-cell">Win Now</div>
                            <div class="table-cell">Rebuilding</div>
                        </div>

                        <!-- Player Rows (Dynamic) -->
                        <div id="player1" class="player-row">
                            <input type="hidden" name="fangraphs_id1" id="fangraphs_id1">
                            <div class="table-cell">
                                <input type="text" name="name1" id="name1" class="player-name" required>
                            </div>
                            <div class="table-cell">
                                <label class="fscore_label" id="fscore1"></label>
                            </div>
                            <div class="table-cell">
                                <label class="rebuilding_fscore_label" id="rebuilding_score1"></label>
                            </div>
                        </div>

                        <!-- Add more rows dynamically (the template will loop for more players) -->
                    </div>
                    <div class="button-wrapper">
                        <button type="button" id="clearButton" class="clear-button">Clear</button> <!-- New Clear Button -->
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>

    <div class="button-wrapper">
        <button type="button" id="submitButton" class="submit-button">Submit</button>
    </div>

    <!-- Comparison Table (Hidden initially) -->
    <div class="results-container" style="display: none;">
        <div class="results-table">
            <div id="comparisonTableContainer" >
                <h3>Results</h3>
                <table id="comparisonTable" class="comparison-table">
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Win Now Total</th>
                            <th>Rebuilding Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows will be dynamically generated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ fScores|json_script:"fScoresData"}}
    <script id="availableTagsData" type="application/json">
        [
            {% for player in players %}
                { "label": "{{ player.name|escapejs }}", "value": "{{ player.fangraphs_id }}" }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <script src="{% static 'js/trade-analyzer.js' %}"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/trade-analyzer.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
