{% extends 'base.html' %}
{% load static %}

{% block title %}Hitting | The Sabermaniac{% endblock %}

{% block content %}
    <div class="cover" style="position: fixed; height: 100%; width: 100%; top:0; left: 0; z-index:9999; background: white;"></div>
    </div>
    <div style="width: 90%; margin: 100px auto; height: 100vh;">
        <table id="hitting-stats" class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for field in field_names %}
                        {% if field.name|slice:'1' != 'f' and field.name != 'id'%}
                            <th scope="col">{{ field.name|capfirst }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for stat in object_list %}
                    <tr>
                        {% for field in stat.get_field_names_and_values %}
                            {% if field.name == 'AVG' or field.name == 'OBP' or field.name == 'OPS' %}
                                <td>{{ field.value|floatformat:3 }}</td>
                            {% elif field.value != None and field.name|slice:'1' != 'f' and field.name != 'id'%}
                                <td>{{ field.value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        td{white-space: nowrap}
        .nav{position: fixed; width: 100%; top: 0; background: white; z-index: 9}
        table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{background-image: unset}
        .dataTables_wrapper .dataTables_paginate .paginate_button{padding: unset;}
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover{border: none; background: none}
        #hitting-stats_wrapper .col-sm-12{overflow: auto}
    </style>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('.hitting').addClass('active')
            $('#hitting-stats').DataTable({
                "order": [[ 19, "desc" ]],
                "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
            });
            $('.cover').hide()
        })
    </script>
{% endblock %}